.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card-container {
  border: 1px solid white;
  width: 80%;
  margin: auto;
  padding: 10px;
}

.item-details {
  border: 1px solid white;
  width: 60%;
  margin: auto;
  padding: 10px;
  -webkit-box-shadow: 10px 10px 5px rgb(197, 197, 197);
}

.item-img {
  height: 200px
}

.my-account-container{
  display: flex;
  /* border: 10px solid green; */
  width: 90%;
  margin: auto;
  -webkit-box-shadow: 10px 10px 5px rgb(197, 197, 197);
}

.my-account-container-left {
  float: left;
  border: 5px solid red;
  width: 65%;
  margin: 5rem 5rem 5rem 5rem;
}

.my-account-container-right {
  /* border: 5px solid blue; */
  float: right;
  width: 20%;
  padding: 30px;
  margin: 5rem 5rem 5rem 5rem;
}

.cart-container {
  border: 1px solid black;
  width: 30%;
  margin: auto;
  margin-top: 5%;
  padding: 4% 4%;
}

.cart-total {
  border: 5px solid red;
}

.banner-container {
  margin: 3%;
  border: 8px solid #EDAD19;
  background-color: #edad19;
  height: 170px;
  display: block;
  justify-content: center;
  text-align: center;
}

.banner-header {
  margin: 10px;
}

.admin-container {
  border: 3px solid green;
  padding: 20px;
  width: 80%;
  margin: 5%;
  -webkit-box-shadow: 10px 10px 5px rgb(197, 197, 197);

}

.admin-appt-card {
  /* border: 3px solid blue; */
  padding: 20px;
  width: 80%;
  margin: auto;
  /* margin-top: 5%; */
  /* padding: 4% 4%; */
}

.admin-pg-img {
  border: 2px solid yellow;
  float: left;
}

.admin-pg-info-box {
  border: 2px solid orange;
  float: right;
}

.item-left {
  float: left;
}

.item-right {
  float: right;
}


img {
  image-orientation: from-image;
}
image {
  image-orientation: from-image;
}

src {
  image-orientation: from-image;
}